img {
  height: 500px;
}
.header {
  height: 100px;
  /* background-color: #f8f5f1 !important;
  color: #e9896a !important; */
}
.product-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: slategray;
  /* background-color: ; */
}
